.Weather {
  color: #283d49;
  font-family: arial, sans-serif;
  border: 1px solid #344733;
  border-radius: 4px;
  padding: 16px;
  background-color: #fffffe;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  color: #344733;
  font-size: 64px;
  font-weight: bold;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: #344733;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 5px;
}

.Weather .btn {
  background-color: #344733;
  border-color: #344733;
}

.Weather .btn:hover {
  color: #344733;
  background-color: white;
  border-color: #344733;
}

.Weather .form-control {
  border-color: #344733;
}
